<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechBytes Prescription System</title>

    {{!-- Link stylesheets --}}
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    {{!-- Load scripts --}}
    <script type="text/javascript" src="/materialize.min.js"></script>

    {{!-- Load custom scripts --}}
    <script type="text/javascript" src="/scripts.js"></script>
</body>
</head>
<body>
    {{{body}}}
</html>